body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:85px;
  width:639px;
  height:260px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:196px;
  height:30px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:0px;
  width:247px;
  height:30px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:243px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:196px;
  height:30px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:30px;
  width:196px;
  height:30px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:30px;
  width:247px;
  height:30px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:243px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:200px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:196px;
  height:200px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:192px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:200px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:60px;
  width:196px;
  height:200px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:192px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:200px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:60px;
  width:247px;
  height:200px;
  text-align:left;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:243px;
  word-wrap:break-word;
}
