body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1573px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:405px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:50px;
  width:375px;
  height:405px;
}
#u2533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:-295px;
  width:375px;
  height:667px;
}
#u2534_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  word-wrap:break-word;
}
#u2535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:-250px;
  width:375px;
  height:667px;
}
#u2535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:0px;
  width:375px;
  height:667px;
}
#u2536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:407px;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:-25px;
  width:375px;
  height:407px;
}
#u2537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:100px;
  height:60px;
}
#u2538_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC  Regular', 'PingFang SC ';
  font-weight:400;
  font-style:normal;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:82px;
  width:100px;
  height:60px;
  font-family:'PingFang SC  Regular', 'PingFang SC ';
  font-weight:400;
  font-style:normal;
}
#u2539_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:191px;
  width:100px;
  height:60px;
}
#u2540_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'123 Regular', '123';
  font-weight:400;
  font-style:normal;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:307px;
  width:100px;
  height:60px;
  font-family:'123 Regular', '123';
  font-weight:400;
  font-style:normal;
}
#u2541_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:100px;
  height:60px;
}
#u2542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:142px;
  width:0px;
  height:0px;
}
#u2543_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u2543_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:36px;
  width:18px;
  height:19px;
}
#u2543_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:251px;
  width:0px;
  height:0px;
}
#u2544_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u2544_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:19px;
}
#u2544_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:112px;
  width:0px;
  height:0px;
}
#u2545_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u2545_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2545_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:221px;
  width:0px;
  height:0px;
}
#u2546_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:142px;
  height:8px;
}
#u2546_seg1 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:-79px;
  width:8px;
  height:83px;
}
#u2546_seg2 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-85px;
  width:18px;
  height:19px;
}
#u2546_text {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:82px;
  width:100px;
  height:60px;
}
#u2547_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:112px;
  width:0px;
  height:0px;
}
#u2548_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u2548_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2548_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:142px;
  width:0px;
  height:0px;
}
#u2549_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u2549_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u2549_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:82px;
  width:0px;
  height:0px;
}
#u2550_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-85px;
  width:8px;
  height:85px;
}
#u2550_seg1 {
  border-width:0px;
  position:absolute;
  left:-366px;
  top:-85px;
  width:370px;
  height:8px;
}
#u2550_seg2 {
  border-width:0px;
  position:absolute;
  left:-366px;
  top:-85px;
  width:8px;
  height:85px;
}
#u2550_seg3 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:-13px;
  width:18px;
  height:19px;
}
#u2550_text {
  border-width:0px;
  position:absolute;
  left:-231px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:653px;
  width:628px;
  height:351px;
}
#u2552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:71px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:653px;
  width:628px;
  height:71px;
  font-size:20px;
}
#u2553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:624px;
  word-wrap:break-word;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:47px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:658px;
  width:43px;
  height:47px;
}
#u2554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:775px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:767px;
  width:423px;
  height:35px;
}
#u2556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2556_input:disabled {
  color:grayText;
}
#u2557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:831px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u2557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:831px;
  width:423px;
  height:80px;
}
#u2558_input {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(200, 22, 29, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:936px;
  width:75px;
  height:40px;
  color:#FFFFFF;
}
#u2559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 70, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:936px;
  width:75px;
  height:40px;
  color:#FFFFFF;
}
#u2560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:355px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:275px;
  width:628px;
  height:355px;
}
#u2561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
